<%- include("partials/header") %>

<body>
    <div id="main">
      <div class="row align-items-start">
      <div class="slideshow-container">
        <div class="col"></div>
        <div class="col-8">
          <form class="" action="/quiz" method="post">
            <div class="mySlides fade">
              <div class="row justify-content-start">
                <img src="<%=quizSession._currentQuestion.image%>"style="width:100%">
              </div>
              <div class="row justify-content-center">
                <h2><%= quizSession._currentQuestion.title %></h2>
              </div>
              <div class="row justify-content-center">
                <%  quizSession._currentQuestion.choices.forEach((choice) => { %>
                  <label for="q1" onclick="getCareers()"><input type="<%=quizSession._currentQuestion.buttontype%>" name="userChoice" value="<%=choice[0]%>"><%=choice[0]%></label>
                <%  }) %>
              </div>
              <div class="row justify-content-end">
                <input type="hidden" name="quizSessionId" value="<%=quizSession._sessionId%>"></input>
                <input type="hidden" name="questionTitle" value="<%=quizSession._currentQuestion.title%>"></input>
                <input type="hidden" name="questionId" value="<%=quizSession._currentQuestion.id%>"> </input>
                <input type="hidden" name="section" value="<%=quizSession._currentQuestion.section%>"> </input>
                <!-- <a href="/video/number/1" class="btn btn-lg btn-secondary">Start!</a>
                <a class="btn btn-primary" href="#" role="button">Link</a> -->

                <button style="font-size: 20px;">Prev</button>
                <button type="submit" name="button" style="float:right; font-size: 20px;">Next</button>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </form>
      </div>
    </div>
    <div class="row align-items-start"> </div>
  </body>
<script>

// powerpoint code
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}

function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
}


</script>
</html>
