<%- include("partials/header") %>

<body>

  <div id="main" class="container" style="margin: auto; width: 80%; opacity: 1; text-align: center">
    <h1 style="color: red;">All Done!</h1>
    <h4>Check out the great career options below!</h4>
      <%  careerRecommendations.forEach((recommendation) => { %>
        <div class="card">
          <h3 style="text-align: center; color: blue"><%= recommendation.title %></h3>
          <p>
            <%= recommendation.description %>
          </br>
          </p>
        </div>
      <%  }) %>


      <div id="main" class="card" style="margin-top: 10%;">
        <h3 style="text-align: center; color: red;">Check out your future colleagues!</h3>

        <ol style="text-align: left;">
          <%  queriedRecords.forEach((record) => { %>

            <li> <%= record.firstName %> looks like a promising <%= record.recommendedCareers[0][1].title %>.</li>
          <%  }) %>
        </ol>

      </div>

    <!-- Button wrapped in delete request to results.js -->

    <form method="post" action="/finish/quizSessionId/<%=quizSessionId%>">
          <button type="submit" class="btn btn-primary">Finish</button>
    </form>
  </div>


</body>

</html>
